<html>
    <head>
        <title>db project</title>
    </head>
    <body>
        <h1>Hello, {{ username }}!</h1>
        <div>
            <ul>
                <li><a href="/images">View Images</a></li>
                <li><a href="/upload">Upload an Image</a></li>
                <li><a href="/follow">Follow</a></li>
                <li><a href="/view_tags">Tags</a></li>
                <li><a href="/search_user_images">Search Image by Poster</a></li>
                <li><a href="/friends">View Friend Groups</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </body>
</html>
