<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
      <center> 
        <h1>Image Gallery</h1>
        <div>
             
            {% for image in images %} 
                <h3>Image below by: {{ image.photoOwner }} </h3>
                <img src="/image/{{image.filePath}}" width="300"/>
                
                <p> <u> photoID:</u>  {{ image.photoID }} <br> <u> caption:</u> {{ image.caption }}
                <br> <u>timestamp:</u>  {{ image.timestamp }} 
                <br> <u>people tagged:</u> <br>
                {% for post in posts %} 
                  {% for subpost in post %} 
                  {% if image.photoID == subpost.photoID%}
                   First name: {{subpost.fname}} Last name: {{subpost.lname}} <br>
                   {%endif%}
                   {% endfor %}
                 {% endfor %}
                <form action = "/comment" method="POST">
                    <textarea id = 'comment' name="comment" rows="4" cols="50" placeholder="Comment..."></textarea>
                     <input type="hidden" name="photoid" value="{{ image.photoID }}">

                    <input type="submit" value="Post Comment"><br>
                </form>
            </p>
            {% endfor %}
        </div>
        <a href="/">Go back</a>
      </center>
    </body>
</html>
