<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/uploadImage" method="post" enctype="multipart/form-data">
                <input type="file" name="imageToUpload" accept="image/*">
                <br/>
                <input type="submit" value="Upload">
                <input type="checkbox" name="allFollowers" value="allFollowers">Post to All Followers<br>
                <textarea name="caption" value="caption" placeholder="Enter Caption Here"></textarea>
                <div id = 'closeFriendsGroupSelector' style="">
                    {% for group in user_groups %}
                    <input type="checkbox" name={{group.groupName}} value={{group.groupName}}>group.groupName<br>
                    {% endfor %}
                </div>
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/">Go back</a>
    </body>
</html>